{% extends "base_layout.html" %}
{% block pageHeader %}
                <div class="col text-center float-center">
                  <h1>Add a Movie</h1>
                </div>
{% endblock %}
{% block pageBody %}
<div id="lookupModal" class="modal fade">
    <div class="modal-dialog modal-lf">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">TMDB Results</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body float-left text-left" id="lookupModal-body">
                <p>Searching for matches...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="row mt-1">
  <div class="col">
    <form id="add-movie-form" role="form" class="form-horizontal">
      <fieldset>

        <!-- Text input-->
        <div class="form-group">
          <label class="col control-label" for="name">Movie Name</label>  
          <div class="col">
            <div class="row">
              <div class="col-md-8">
                <input id="movieNameInput" name="name" type="text" placeholder="Gone With the Wind" class="form-control input-md" required="">
              </div>
              <div class="col-md-4">
                <a class="btn btn-primary" role="button" href="#lookupModal" data-toggle="modal" data-nameField="movieNameInput" data-idField="tmdbIDInput" data-dateField="releaseDateInput">TMDB Lookup</a>
                <button id="clearName" name="cleanName" class="btn btn-danger d-none" onclick="clearMovie()">Clear</button>
              </div>
            </div>
            <span class="help-block">The movie's name</span>  
          </div>
        </div>

        <div class="form-group">
          <input type="hidden" id="tmdbIDInput" value="0" name="tmdbid"/>
        </div>
        <div class="form-group">
          <input type="hidden" id="releaseDateInput" value="" name="release_date"/>
        </div>
        <!-- Button (Double) -->
        <div class="form-group">
        </div>
      </fieldset>
    </form>
    <div class="col">
      <button id="buttonSubmit" type="button" name="buttonSubmit" class="btn btn-success d-none" onclick="getTorrents(this)">Search</button>
      <a href="/index.html" id="buttonCancel" name="buttonCancel" class="btn btn-danger">Cancel</a>
    </div>
  </div>
</div>
<div class="row mt-1">
  <div class="col">
    <div id="torrentListDiv"></div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">

function clearMovie() {
  $('#movieNameInput').val('');
  $('#buttonSubmit').addClass('d-none');
  $('#tmdbIDInput').val(0);
  $('#releaseDateInput').val('');
  $('#clearName').addClass('d-none');
  $('#torrentListDiv').empty();
}

function selectMovie(id,inputField,idField,dateField) {
   var btn = $('#successButton-'+id);
   var movieName = decodeURIComponent(btn.data('moviename'));
   var tmdbid = btn.data('tmdbid');
   var releaseDate = btn.data('releasedate');
   $('#'+inputField).val(movieName);
   $('#'+idField).val(tmdbid);
   $('#'+dateField).val(releaseDate);
   $('#buttonSubmit').removeClass('d-none');
   $('#clearName').removeClass('d-none');
   $('#lookupModal').modal('toggle');
}

$('#lookupModal').on('show.bs.modal', function(e) {
    var inputField = $(e.relatedTarget).data('namefield');
    var idField = $(e.relatedTarget).data('idfield');
    var dateField = $(e.relatedTarget).data('datefield');
    var movieName = $('#'+inputField).val()
     
    $.getJSON('/movies/search?name='+movieName, function(data) {
        var rows = data.map(function(item){
          var ret = '<div class="container-fluid"><div class="row"><div class="col-md-8">'
           + '<button class="btn-block" type="button" data-toggle="collapse" data-target="#collapse-'+item.id+'">'
           + item.title + '</button><div class="collapse" id="collapse-'+item.id+'">'
           + '<div class="container"><div class="col">';
          if(item.poster_path){
            ret = ret + '<div class="row"><div class="col"><img class="img-fluid" alt="Responseive image" src="http://image.tmdb.org/t/p/w185'+item.poster_path+'"/></div></div>'
          }
          ret = ret + '<div class="row"><div class="col">Release Date:</div><div class="col">'+item.release_date+'</div></div>'
           + '<div class="row"><div class="col">'+item.overview+'</div></div>'
           + '</div></div></div>'
           + '</div><div class="col">'
           + '<button type="button" id="successButton-'+item.id+'" class="btn btn-success mt-1 mb-1" data-moviename="'+encodeURIComponent(item.title)+'" data-tmdbid="'+item.id+'" data-releasedate="'+item.release_date+'" onclick="selectMovie(\''+item.id+'\',\''+inputField+'\',\''+idField+'\',\''+dateField+'\');"><span class="fa fa-check" "aria-hidden="true"></span></button>'  
           + '</div></div></div>';
          return ret;
        });

        $('#lookupModal-body').empty();
        if(rows.length){
          $('#lookupModal-body').html('<div class="container">'+rows.join('')+'</div>');
        }else{
          $('#lookupModal-body').text('No results found. Maybe learn to spell?');
        }
    });
});

function torrentClick(e) {
  $.post('/torrent',$('#add-movie-form').serialize()+'&url='+encodeURIComponent($(e).data("url")))
}

function getTorrents(e){
  var btn = $(e);
  var loadingText = "<i class='fa fa-circle-o-notch fa-spin'></i>Searching";
  if ( btn.html() !== loadingText) {
    btn.data('original-text', btn.html());
    btn.html(loadingText);
  }
  $.post('/movies', $('#add-movie-form').serialize(), function(data){
    var rows = data.map(function(item){
      var ret = '<tr>' // data-url="'+item.url+'" onclick="torrentClick(this)" style="cursor: pointer">'
       +'<td><button class="btn" data-url="'+item.url+'" onclick="torrentClick(this)">'+item.name+'</button></td>'
       +'<td>'+item.seeds+'</td>'
       + '</tr>';
      return ret;
     });

    $('#torrentListDiv').empty();
    if(rows.length){
      $('#torrentListDiv').html('<table class="table">'+rows.join('')+'</table>');
    }else{
      $('#torrentListDiv').text("Sorry, no results found. Guess it's not popular enough.");
    }
    btn.html(btn.data('original-text'));
  }, 'json');
}
</script>
{% endblock %}

